*
{
    margin: 0;
    padding: 0;
    border: 0;
}

body
{
    background-color: rgb(19, 18, 18);
    color: white;
    font-family: 'Space Mono', monospace;
    max-width: 1200px;
    margin: 0 auto; /*fica tdo no meio*/
    padding: 15px;
}

header
{
    display: flex; /* dfine q o cabeçalho será um flex box, mais facil de manipular */
    flex-direction: row; /* fica tudo uma linha */
    justify-content: space-between; /*espaço ente a div e a ul*/
    align-items: center; /*nivelou a div e a ul na memsma linha ---*/
}

li
{
    display: inline-block;
    margin: 20px;
}

h1
{
    font-weight: bolder;
    font-size: 45px;
}

h2
{
    font-size: 55px;
    line-height: 45px;
    font-weight: bolder;
}

p
{
    padding-top: 25px;
    line-height: 22px;
    max-width: 600px;
    margin-right: 150px;
}

a
{
    color: gainsboro;
    text-decoration: none;
    transition: 0.6s;
}

a:hover/*quando passar o mouse sobre*/
{
    color: gainsboro;
    transition: 0.4s all;
}

#papa, #tango
{
    border: 2px solid aqua;
    padding: 10px;
    border-radius: 18px;
}

#tango
{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    display: none;
}

#papa:hover
{
    background-color: aqua;
    color: black;
}

.zulu
{
    color: aqua;
}

main
{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

img
{
    width: 350px;
    border-radius: 190px;
    margin-top: 50px;
    transition: width 1s; /*soft hover*/
    transition-delay: 0.4s;
}


img:hover
{
    width: 385px;
    border-radius: 220px;
}

form
{
    display: flex;
    flex-direction: column;
    width: 63%; /*pegou 63% do tamanho da div em que ela se encontra ou seja os input dentro da aside*/
}

form [type="submit"]
{
    height: 50px;
    width: 60%;
    background-color: aqua;
    color: black;
    font-weight: bold;
    cursor: pointer;/*serve só para o mouse aparecer a mãozinha*/
}

input
{
    margin-top: 20px;
    height: 20px; /*dando uma altura maior no input */
    padding: 20px;
    border-radius: 35px;
}
